body{
    background-color: rgb(95, 125, 160);
    
}
button{
    background-color: rgb(238, 255, 0)
}
button{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 450px;
    width: 300px;
}
h1
{position: relative;
left: 400px
}
h2{
    position: relative;
    left: 450px;

}
 img{
     width: 200px;
     position: relative;
     left: 380px;
     margin: 20px;
    
     
 }
